<div class="workout-in-progress">
    <div class="header-data">
        <div class="row">
            <div class="col-4">
                {{#if workoutInProgressRepository.restTimeEnabled}}
                    {{progress-bar
                        progress=workoutInProgressRepository.restPercentageLeft
                        time=workoutInProgressRepository.restTimeLeft
                        isGreen=workoutInProgressRepository.isRestTimeGreen}}
                {{/if}}
            </div>
            <div class="col-4 timer">
                {{workoutInProgressRepository.workoutElapsedTime}}
            </div>
            <div class="col-4 text-align-right">
                <a class="ui-success-button save-workout" {{action "saveWorkout"}}>{{t "createWorkoutPage.finish"}}</a>
            </div>
        </div>
    </div>
    <hr class="divider">
    <div class="page-data">
        <div class="exercise-list">
            {{#each workoutInProgressRepository.exerciseProgress as | exercise |}}
                {{workout-in-progress-exercise-editor
                    exercise=exercise
                    onStartRestTimer=(action "startRestTimer")}}
            {{/each}}
        </div>
        <a class="ui-delete-button cancel-workout" {{action "cancelWorkout"}}>{{t "workoutInProgressPage.cancelWorkout"}}</a>
    </div>
</div>